html {
  background-color: #FAF8F1;
  /*background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);*/
  font-family: 'helvetica neue';
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
  background-color: #FAF8F1;
  font-size: 17px;
}

main {
  text-align: center;
  flex: 1 0 auto;
}

.navbar-default {
  background-color: #E5BA73;
  border-color: #e7e7e7;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #FAEAB1;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #E5BA73;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #000000;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #E5BA73;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #C58940;
}

::placeholder {
  color: grey;
  opacity: 1;
}


.footer {
  flex: 0 0 auto;
  text-align: center;
	background-color: #E5BA73;
  border-color: #e7e7e7;
}
